<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>

        {{#when user_id ../session_id}}
        <div>
            <button>Edit</button> 
            <button>Delete</button>
        </div>
       {{/when}}
    </section>
    {{/each}}
</div>

<script src="/javascript/delete-comment"></script>