{{> post-info post}}

{{#if post.comments.length}}
<h3>{{format_plural "Comment" post.comments.length}}</h3>
{{> comments post.comments}}
{{/if}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type= "submit">add comment</button>
    </div>
</form>

<script src="/javascript/comment.js"></script>
{{/if}}   
<div>Outside: {{post.comments.session_id}}</div>